<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>Ticketer - View Tickets</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="public/css/navbar.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Ticketer </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/createTicket">Create Ticket</a></li>
          <li class="active"><a href="/ticketViewer">View Tickets</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= username%>
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/changePassword">Change Password</a></li>
              <li><a href ="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
          <div class="row">
            <div class="col-sm-3">
              <h2>Active Tickets</h2>
            </div>
            <div class="col-sm-9">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <h4>
                <table class = "table table-striped table-bordered table-hover" id = "ticketsTable" style = "width:100%">
                  <thead class = "thead-default">
                    <tr>
                      <th style="cursor:pointer" onclick="sortMe(0)">Title</th>
                      <th>Room</th>
                      <th>Description</th>
                      <th>User</th>
                      <th>Status</th>
                      <th>Assigned Technician</th>
                    </tr>
                  </thead>
                  <% for (var i=0; i < tickets.length; i++) {%>
                      <tr>
                        <td><%=tickets[i].name %></td>
                        <td><%=tickets[i].room %></td>
                        <td><%=tickets[i].desc %></td>
                        <td><%=tickets[i].author %></td>
                        <td><%=tickets[i].status %></td>
                        <td><%=tickets[i].assigned %></td>
                      </tr>
                  <% } %>
                </table>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <script src="/webpack/bundle.js"></script>

      <script>
        // Sorting Code:

        var headings = [];
        setNotSorted(10);

        // On click of th tag:
        function sortMe(headingID) {
          if (headings) {
            //If virtual tracking table exists check the current sort order. If it is unsorted then sort it in ascending order and set all other heading as unsorted; if sorted in ascending order then sort it into descending order. If the virtual tracking table has not yet been created then set all headings as unsorted.
            if (headings[headingID] == 'none') {
              sort(headingID, 'asc');
              setNotSorted(headingID);
            } else {
              if (headings[headingID] == 'asc') {
                sort((headingID), desc);
                setNotSorted((headingID));
              } else {
                sort((headingID), 'asc');
                setNotSorted((headingID));
              }
            }
          }
        }

        function sort(heading, order) {
          var sortArray = <%- JSON.stringify(names)%>;

          if (sortArray.length < 2) {
            return sortArray;
          } else {
            var middle = parseInt(sortArray.length / 2);
            var left   = sortArray.slice(0, middle);
            var right  = sortArray.slice(middle, sortArray.length);

           return merge(mergeSort(left), mergeSort(right));
          }
        }

        function mergeSort(arr)
        {
            if (arr.length < 2)
                return arr;

            var middle = parseInt(arr.length / 2);
            var left   = arr.slice(0, middle);
            var right  = arr.slice(middle, arr.length);

            return merge(mergeSort(left), mergeSort(right));
        }

        function merge(left, right)
        {
            var result = [];

            while (left.length && right.length) {
                if (left[0] <= right[0]) {
                    result.push(left.shift());
                } else {
                    result.push(right.shift());
                }
            }

            while (left.length)
                result.push(left.shift());

            while (right.length)
                result.push(right.shift());

            console.log(result);

            return result;
        }

        function setNotSorted(id) {
          for(var i = 0; i < 6; i++) {
            if(i !== id) {
              headings[i] = 'none';
            }
          }
        }
      </script>
  </body>
</html>
